.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    margin: 0;

}

.card{
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
    width: 540px;
    gap: 16px;
    list-style-type: none;
}

.card__title{
    font-family: 'Inter', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 16px;
}

.card__list-item{
    font-family: "Noto Serif", "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.card__list-divider{
    border-bottom: 1px solid black;
    flex-grow: 1;
}