.form__fieldset{
    display: flex;
    margin:auto;
    flex-direction: column;
    max-width: 385px;
    border: none;
    padding: 0;
}

.form__label{
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 8px 0;
    display: flex;
    flex-direction: column;
}

.form__input{
    height: 60px;
    line-height: 30px;
    border-radius: 4px;
    margin: 0 0 32px 0;
}

.form__button{
    border-radius: 4px;
    height: 60px;
    background-color: #2F80ED;
    color: white;
    opacity: 100%;
    transition: transform 0.1s ease 0.1s, opacity 0.1s ease 0.1s;
    margin: 0 0 32px 0;
}

.form__checkboxlabel{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 12px;
}

.form__checkbox{
    width: 20px;
    height: 20px;
    border-radius: 2px;
}

.form__button:hover{
    opacity: 70%;
}