.header{
    display: flex;
    flex-direction: column;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    padding: 30px 80px 40px;
    background-color: #FFFFFF;
    background-image: url(../images/background_header.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.header__logo{
    height: 125px;
    width: 142px;
    position: relative;
    right: 50px;
}

.header__title{
    font-size: 60px;
    max-width: 729px;
    line-height: 72px;
    font-weight: 500;
    z-index: 1;
    margin: 80px 0 28px 0;
}

.header__span{
    color:#2F80ED;
    font-family:Noto Serif;
    font-style: italic;
}
            

.header__description{
    margin: 0;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    max-width: 683px;
    z-index: 1;
}

.header__image{
    height: 568px;
    width: 646px;
    position: absolute;
    right: 5px;
    top: 124px;
    z-index: 0;
}

.header__footer{
    margin-top: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    color: #838383;
}

.header__hours{
    list-style-type: none;
    padding: 0px;
}

.header__address{
    margin: 0;
}