.menu{
    background-color:white;
    background-image: url(../images/background_menu.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 0 100px;
}

.menu__title{
    margin: auto auto 24px auto;
    max-width: 780px;
    text-align: center;
    font-size: 44px;
    line-height: 52px;
    font-weight: 500;
}

.menu__subtitle{
    margin: auto auto 100px auto;
    max-width: 780px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    white-space: nowrap;
    font-family: "Noto Serif", "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
}